@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
}
.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: 
  #7289da; */
  background-image: url("../public/bg.jpg");
}

.container {
  display: flex;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #2c2f33;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  background-color: #23272a;
}

input{
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
}

.todo-form {
  display: flex;
  justify-content: space-around;
  width: 450px;
}

.enter-button,
button {
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
  font-weight: 600;
  color: #23272a;
  background-color: #ffa500;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}

.enter-button {
  margin-bottom: 10px;
}

.all-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.single-list {
  margin: 10px 0;
  border-radius: 50px;
  background-color: #373b3f;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}

.todo-text {
  flex: 1;
}
